#bordersContainer {
  display: grid;
  grid-template-columns: repeat(3, 40rem);
  gap: 1.5rem;
  justify-content: center;
  align-content: center;
  /*  */
  margin-top: 0.5rem;
}

@media (max-width: 51em) {
  #bordersContainer {
    grid-template-columns: repeat(1, 40rem);
  }
}

@media (min-width: 51em) {
  #bordersContainer {
    grid-template-columns: repeat(2, 40rem);
  }
}

@media (min-width: 76em) {
  #bordersContainer {
    grid-template-columns: repeat(3, 40rem);
  }
}

.border-country-container {
  background-color: var(--primary-color-shade-half);
  color: var(--primary-color-tint-half);
  height: 55rem;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem var(--primary-color-tint-half),
    inset -0.5rem -0.5rem 1rem var(--primary-color-tint-half);
  /* cursor: pointer; */
}
