.border-country-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*  */
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem var(--primary-color-shade-half),
    inset -0.5rem -0.5rem 1rem var(--primary-color-shade-half);
}

.border-flag-container {
  height: 30rem;
  width: 35rem;
  /*  */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.border-flag-container img {
  /* width: 80%;
  height: 60%; */
}

.border-country-details {
  /* width: 50%; */
  gap: 1.2rem;
}
