#mainAndMapContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#mainCountryContainer {
  width: 100%;
  height: 35rem;
  background-color: var(--primary-color-shade);
}
#mapContainer {
  width: 100%;
  height: 35rem;
  background-color: var(--primary-color-shade);
}

@media (max-width: 58.125em) {
  #mainAndMapContainer {
    flex-direction: column;
  }

  #mainCountryContainer {
    height: 50rem;
  }
}
