.country-details-container {
  height: 100%;
  width: 100%;
  background-color: var(--primary-color-shade);
  color: var(--primary-color-tint);
  font-size: 1.6rem !important;
  /*  */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 48em) {
  .country-details-container {
    flex-direction: column;
  }
}

.flag-container {
  padding: 1rem;
  /*  */
  display: flex;
  justify-content: center;
  align-items: center;
}

.country-details {
  width: 100%;
  padding: 1rem;
  /*  */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.key-value-pair {
  padding: 1rem;
  /*  */
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}

.key {
  font-weight: 600;
  width: 30%;
  text-align: center;
}

.colon {
  width: 5%;
  text-align: center;
}

.value {
  width: 60%;
  text-align: end;
}

/* BORDERS */
